rust/2023/day-11/target
rust/2023/day-11/Cargo.lock

rust/2023/day-10/target
rust/2023/day-10/Cargo.lock

rust/2023/day-09/target
rust/2023/day-09/Cargo.lock

rust/2023/day-08/target
rust/2023/day-08/Cargo.lock

rust/2023/day-07/target
rust/2023/day-07/Cargo.lock

rust/2023/day-06/target
rust/2023/day-06/Cargo.lock

rust/2023/day-05/target
rust/2023/day-05/Cargo.lock

rust/2023/day-04/target
rust/2023/day-04/Cargo.lock

rust/2023/day-03/target
rust/2023/day-03/Cargo.lock

rust/2023/day-02/target
rust/2023/day-02/Cargo.lock
rust/2023/day-02/test/

rust/2023/day-01/target
rust/2023/day-01/Cargo.lock

rust/2015/day-10/target
rust/2015/day-10/Cargo.lock

rust/2015/day-09/target
rust/2015/day-09/Cargo.lock

rust/2015/day-08/target
rust/2015/day-08/Cargo.lock

rust/2015/day-07/target
rust/2015/day-07/Cargo.lock

rust/2015/day-06/target
rust/2015/day-06/Cargo.lock

rust/2015/day-05/target
rust/2015/day-05/Cargo.lock

rust/2015/day-04/target
rust/2015/day-04/Cargo.lock

rust/2015/day-03/target
rust/2015/day-03/Cargo.lock

rust/2015/day-02/target
rust/2015/day-02/Cargo.lock

rust/2015/day-01/target
rust/2015/day-01/Cargo.lock

rust/template-day/