rust/2023/day-01/target
rust/2023/day-01/Cargo.lock

rust/2023/day-02/target
rust/2023/day-02/Cargo.lock
rust/2023/day-02/test/

rust/2023/day-03/target
rust/2023/day-03/Cargo.lock

rust/2015/day-01/target
rust/2015/day-01/Cargo.lock

rust/template-day/